/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#title {
    margin: 30px 30px 50px 37%;
}

div#container {
    border: thin solid #696969;
    padding: 35px;
    margin: 20px;
    margin-left: 4%;
    width: 45%;
    display: inline-block;
    float: left;
}

#container > label {
    font-size: 16pt;
    font-weight: bold;
    color: #696969;
    margin: 10px 15px;
    display: inline-block;
    width: 35%;
}

#container > input {
    border: thin solid #000;
    font-size: 14pt;
    padding: 10px 30px;
    margin: 10px;
    width: 45%;
}

#container > input[type='button'] {    
    color: #FFF;
    background-color: #1E90FF;
    font-weight: bold;
}

#container > input[type='text'], input[type='password'] {
    color: #696969;
    background-color: #F5F5F5;
}

#container > input[type='radio'] {
    width: auto;
}

nav {
    width: 15%;
    border: thin solid black;
    margin: 20px;
    padding: 20px;
    display: inline-block;
    float: left;
}

nav > input[type='text'] {
    padding: 10px;
    margin: 35px 20px 20px 35px;
    width: 62%;
    color: #696969;
    border: thin solid black;
    border-radius: 5px;
}

nav > img {
    margin: 10px;
    margin-bottom: 25px;
}

nav > a {
    display: block;
    background-color: #1E90FF;
    color: #FFF;
    padding: 10px 40px;
    margin: 20px;
    border: thin solid black;
    text-decoration: none;
    width: 50%;
}

div#friendContainer {
    border: thin solid black;
    display: inline-block;
    float: right;
    margin: 20px;
    width: 20%;
}

div#friendContainer > a {
    display: block;
    font-size: 18pt;
    margin: 10px;
    margin-left: 40%;
    text-decoration: none;
    color: black;
}

div#container > a, button {
    border: thin solid black;
    margin: 30px;
    padding: 15px 50px;
    text-decoration: none;
    color: #FFF;
    background-color: #1E90FF;
    font-size: 16pt;
    font-weight: bold;
}